@use '../utils/variables';

.button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: variables.$primary-color;
    border-radius: variables.$common-radius;
    transition: 0.4s;
    cursor: pointer;
    &:hover, &:focus {
        color: black;
        background-color: variables.$secondary-color;
    }
}

.sort-button {
    border-radius: 0;
}

#dropdown-input, .sort-button {
    padding: 0 10px;
    text-align: left;
}

.dropdown-expanded {
    border-radius: variables.$common-radius variables.$common-radius 0 0;
}

.close-button {
    background: none;
    border: none;
}