@use "../utils/variables";

/* CONTACT MODAL */

#contact_modal {
    background-color: rgba(196, 196, 196, 0.4);
    animation: background-fading 0.4s;
}

.modal {
    max-width: 669px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 42px 15px 25px;
    border-radius: variables.$common-radius;
    background-color: #DB8876;
    margin: 50px auto;
    animation: modal-display 0.7s;
}

// Modal header

.close-button {
    align-self: flex-start;
    opacity: 0.5;
    &:hover, &:focus {
        opacity: 1;
    }
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.contact-header {
    display: flex;
    flex-direction: row-reverse;
}

#contact-header__title {
    display: flex;
    flex-direction: column;
}

.modal header h2 {
    margin: 0;
}

.contact-photographer {
    margin-top: 0;
    margin-bottom: 20px;
}

// Inputs form

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.inputform-containter {
    width: 100%;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.input-field, .message-area {
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    padding-left: 15px;
    border: none;
    border-radius: variables.$common-radius;;
}

form textarea {
    height: 170px;
    border-radius: variables.$common-radius;
    padding-left: 15px;
    padding-top: 10px;
    border: none;
    resize: none;
}

.input-error {
    border: 3px solid rgb(231, 70, 22);
}

.inputform-assist {
    display: none;
    margin-top: 13px;
}

.error-message {
    padding: 3px;
    background-color: white;
    color: rgb(231, 70, 22);;
    border-radius: variables.$common-radius;
}

.inputform-assist.visible {
    display: block;
}

.submission-message {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 20px;
    color: #fafafa;
}

// Display animation

@keyframes background-fading {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}

@keyframes modal-display {
    from {
        opacity: 0;
        transform: translateY(-100px);
      }
      to {
        opacity: 1;
      }
}