// Dropdown container and layout
.media-sorting {
    display: flex;
    gap: 25px;
}

.dropdown-container {
    position: absolute;
    left: 185px;
    z-index: 1;
}

// Dropdown buttons
.dropdown-options {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 170px;
}

.last-dropdown-option {
    border-radius: 0 0 5px 5px;
}

.active {
    display: none;
}

.wrapped {
    display: none;
}

.sort-button {
    position: relative;
}

.sort-button:not(.active)::before {
    content: "";
    width: 150px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-input-container {
    position: relative;
}

// Arrow
.dropdown-container svg path {
    fill: white;
}

.dropdown-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.dropdown-arrow_rotate {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    transform: rotate(180deg);
}