@use "../utils/variables";

.photographer-medias img, .photographer-medias video  {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: variables.$common-radius;
}

.photographer-medias article {
    position: relative;
}

.video-icon::after {
    content: '';
    background: url('../assets/icons/video-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70px;
    height: 70px;
}

.video-icon:hover::after {
    content: '';
    background: url('../assets/icons/video-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70px;
    height: 70px;
    // Hover rules
    opacity: 0.8;
    cursor: pointer; // Fallback rule. Some computers do not have built-in "zoom-in" cursor.
    cursor: zoom-in;
}

.video-icon:hover .media {
    opacity: 0.8;
}

.media:hover {
    opacity: 0.8;
    cursor: pointer; // Fallback rule. Some computers do not have built-in "zoom-in" cursor.
    cursor: zoom-in;
}

.media-description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
    color: variables.$primary-color;
}

.media-description h2 {
    margin: 0;
    font-size: 1.4rem;
}

.likes-container {
    display: flex;
    align-items: baseline;
}

.like-icon {
    cursor: pointer;
}

.like-icon + span {
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 4px;
}

.like-icon path {
    fill: variables.$secondary-color;
    transition: 0.4s;
}

.like-icon_active path {
    fill: variables.$primary-color;
}

.like-icon_active svg {
    animation: heart-activated 0.4s;
}

@keyframes heart-activated {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.2);
    }
    70% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1.4);
    }
}