@use "../utils/variables";

.photographer-medias img, .photographer-medias video  {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: variables.$common-radius;
}

.photographer-medias article {
    position: relative;
}

.video-icon::after {
    content: '';
    background: url('../assets/icons/video-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70px;
    height: 70px;
}

.video-icon:hover::after {
    content: '';
    background: url('../assets/icons/video-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70px;
    height: 70px;
    // Hover rules
    opacity: 0.8;
    cursor: zoom-in;
}

.video-icon:hover .media {
    opacity: 0.8;
}

.media:hover {
    opacity: 0.8;
    cursor: zoom-in;
}

.media-description {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: variables.$primary-color;
}

.media-description h2 {
    margin: 0;
    font-size: 1.4rem;
}

.like-icon {
    cursor: pointer;
}

.like-icon + span {
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 4px;
}