/* General styles */
a {
    text-decoration: none;
}

.modal header h2,
.contact-photographer {
    font-size: 3rem;
    font-weight: normal;
}

.label-text {
    color: #312e2e;
    font-size: 2rem;
}

form input,
#message {
    font-size: 1.4rem;
}

.error-message {
    font-size: 1.2rem;
    font-weight: bold;
}

.submission-message {
    font-size: 2.5rem;
}

.media-sorting label {
    font-weight: bold;
    font-size: 1.2rem;
}

.current-image-title span {
    color: #901c1c;
}

.button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
}
.button:hover {
    color: black;
    background-color: #db8876;
}

.sort-button {
    border-radius: 0;
}

#dropdown-input,
.sort-button {
    padding: 0 10px;
    text-align: left;
}

.dropdown-expanded {
    border-radius: 5px 5px 0 0;
}

.close-button {
    background: none;
    border: none;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.photographer_section article > * {
    margin-bottom: 0;
    margin-top: 5px;
}

.photographer_section a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photographer_section a:hover img {
    transform: scale(1.1);
}

.photographer_section article h2 {
    color: #db8876;
    font-size: 2rem;
    margin-bottom: 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    transition: 300ms ease-in-out;
}

.photographer-location {
    color: #901c1c;
    font-size: 1.5rem;
}

.photographer_section .photographer-location {
    margin-top: 26px;
}

.photographer-pricing {
    color: #757575;
}

.photographer-medias img,
.photographer-medias video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.photographer-medias article {
    position: relative;
}

.video-icon::after {
    content: '';
    background: url('../assets/icons/video-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70px;
    height: 70px;
}

.video-icon:hover::after {
    content: '';
    background: url('../assets/icons/video-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70px;
    height: 70px;
    opacity: 0.8;
    cursor: zoom-in;
}

.video-icon:hover .media {
    opacity: 0.8;
}

.media:hover {
    opacity: 0.8;
    cursor: zoom-in;
}

.media-description {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #901c1c;
}

.media-description h2 {
    margin: 0;
    font-size: 1.4rem;
}

.like-icon {
    cursor: pointer;
}

.like-icon + span {
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 4px;
}

.like-icon path {
    fill: #db8876;
    transition: 0.4s;
}

.like-icon_active path {
    fill: #901c1c;
}

.like-icon_active svg {
    animation: heart-activated 0.4s;
}

@keyframes heart-activated {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.2);
    }
    70% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1.4);
    }
}
.total-likes-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 2;
}

.total-likes-icon svg path {
    fill: black;
}

.media-sorting {
    display: flex;
    gap: 25px;
}

.dropdown-container {
    position: absolute;
    left: 185px;
    z-index: 1;
}

.dropdown-options {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 170px;
}

.last-dropdown-option {
    border-radius: 0 0 5px 5px;
}

.active {
    display: none;
}

.wrapped {
    display: none;
}

.sort-button {
    position: relative;
}

.sort-button:not(.active)::before {
    content: '';
    width: 150px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-input-container {
    position: relative;
}

.dropdown-container svg path {
    fill: white;
}

.dropdown-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.dropdown-arrow_rotate {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    transform: rotate(180deg);
}

/* LIGHTBOX */
#lightbox-modal {
    background-color: rgba(196, 196, 196, 0.9);
}

.lightbox-modal__content {
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    height: 30%;
    width: 100%;
    top: 0;
    cursor: pointer;
    z-index: 1;
}
.close:hover {
    opacity: 0.8;
}

.close img {
    position: relative;
    top: 30px;
    left: 85%;
}

.previous,
.next {
    position: absolute;
    height: 70%;
    width: 50vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.previous:hover,
.next:hover {
    opacity: 0.8;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

.previous img {
    position: relative;
    right: 45px;
}

.next img {
    position: relative;
    left: 45px;
}

.lightbox-media {
    width: fit-content;
    height: fit-content;
    z-index: 1;
}

.lightbox-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.lightbox-media img,
.lightbox-media video {
    border-radius: 5px;
    width: 100%;
    max-height: 400px;
}

/* CONTACT MODAL */
#contact_modal {
    background-color: rgba(196, 196, 196, 0.4);
}

.modal {
    max-width: 669px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 42px 15px 25px;
    border-radius: 5px;
    background-color: #db8876;
    margin: 50px auto;
}

.close-button {
    align-self: flex-start;
}
.close-button:hover {
    opacity: 0.8;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.contact-header {
    display: flex;
    flex-direction: row-reverse;
}

.contact-header__title {
    display: flex;
    flex-direction: column;
}

.modal header h2 {
    margin: 0;
}

.contact-photographer {
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.inputform-containter {
    width: 100%;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.input-field,
.message-area {
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
}

form textarea {
    height: 170px;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 10px;
    border: none;
    resize: none;
}

.input-error {
    border: 3px solid #e74616;
}

.inputform-assist {
    display: none;
    margin-top: 13px;
}

.error-message {
    padding: 3px;
    background-color: white;
    color: #e74616;
    border-radius: 5px;
}

.inputform-assist.visible {
    display: block;
}

.submission-message {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 20px;
    color: #fafafa;
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

.home-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.home-header h1 {
    color: #901c1c;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.api-error p {
    margin: 100px 50px 0 50px;
    font-size: 2.5rem;
    text-align: center;
}

.photographer_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 140px;
    margin-top: 100px;
}

@media all and (max-width: 760px) {
    .home-header {
        justify-content: space-around;
    }

    .home-header h1 {
        margin-right: 0;
        margin-bottom: 0;
    }

    .home-header .logo {
        margin-left: 0;
        margin-top: 15px;
    }

    .photographer_section {
        gap: 50px;
    }
}
.photographer-page-header {
    display: flex;
    align-items: center;
    height: 90px;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    margin: 70px 100px 0 100px;
    padding: 70px 50px;
}

.photograph-header h1 {
    color: #db8876;
    font-size: 3rem;
    margin-bottom: 5px;
}

.photograph-header__location {
    color: #901c1c;
    font-size: 1.6rem;
    margin-top: 10px;
}

.photograph-header__motto {
    margin-top: 5px;
    color: #525252;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer-info {
    display: flex;
    flex-direction: row-reverse;
}

.total-likes-pricing {
    width: 376px;
    height: 89px;
    position: fixed;
    bottom: 0;
    right: 35px;
    background-color: #db8876;
}

.media-sorting {
    margin: 25px 0 70px 100px;
}

.photographer-medias {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#contact_modal,
#lightbox-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 2;
}

@media all and (max-width: 1000px) {
    .photograph-header {
        flex-wrap: wrap;
        margin: 35px 50px 0 50px;
    }

    .contact-button {
        order: 1;
        margin-top: 42px;
        flex-basis: 100%;
    }
}
@media all and (max-width: 750px) {
    .photograph-header {
        margin: 0;
    }
}
@media all and (max-width: 535px) {
    .photograph-header {
        padding: 35px 25px;
    }

    .photographer-profile-picture {
        width: 100px;
        height: 100px;
        align-self: flex-start;
    }

    .photograph-header img {
        width: 100px;
        height: 100px;
    }

    .total-likes-pricing {
        position: initial;
        width: 500px;
        height: 60px;
    }

    .modal {
        margin: 0;
    }
}

/*# sourceMappingURL=main.css.map */
