/* General styles */
*:focus {
    border: 3px solid steelblue;
}

a {
    text-decoration: none;
}

.modal header h2,
.contact-photographer {
    font-size: 3.5rem;
    font-weight: normal;
}

.label-text {
    color: #312e2e;
    font-size: 2.4rem;
}

form input,
#message {
    font-size: 1.4rem;
}

.error-message {
    font-size: 1.2rem;
    color: white;
}

.media-sorting label {
    font-weight: bold;
    font-size: 1.2rem;
}

.current-image-title span {
    color: #901c1c;
}

.button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    color: black;
    background-color: #d3573c;
}

.sort-button {
    border-radius: 0;
}

#dropdown-input,
.sort-button {
    padding: 0 10px;
    text-align: left;
}

.dropdown-expanded {
    border-radius: 5px 5px 0 0;
}

.close-button {
    background: none;
    border: none;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.photographer_section article > * {
    margin-bottom: 0;
    margin-top: 5px;
}

.photographer_section a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_section article h2 {
    color: #d3573c;
    font-size: 2rem;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.photographer-location {
    color: #901c1c;
    font-size: 1.5rem;
}

.photographer-pricing {
    color: #757575;
}

.photographer-medias img,
.photographer-medias video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.photographer-medias video {
    object-fit: cover;
}

.photographer-medias article {
    position: relative;
}

.video-icon::after {
    content: '';
    background: url('../assets/icons/video-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70px;
    height: 70px;
}

.video-icon:hover::after {
    content: '';
    background: url('../assets/icons/video-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70px;
    height: 70px;
    opacity: 0.8;
    cursor: zoom-in;
}

.video-icon:hover .media {
    opacity: 0.8;
}

.media:hover {
    opacity: 0.8;
    cursor: zoom-in;
}

.media-description {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #901c1c;
}

.media-description h3 {
    margin: 0;
    font-size: 1.4rem;
}

.like-icon {
    cursor: pointer;
}

.like-icon + span {
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 4px;
}

.total-likes-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-weight: bold;
    z-index: 1;
}

.total-likes-icon svg path {
    fill: black;
}

.media-sorting {
    display: flex;
    gap: 25px;
}

.dropdown-container {
    position: absolute;
    left: 185px;
    z-index: 1;
}

.dropdown-options {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 170px;
}

.last-dropdown-option {
    border-radius: 0 0 5px 5px;
}

.active {
    display: none;
}

.wrapped {
    display: none;
}

.sort-button {
    position: relative;
}

.sort-button:not(.active)::before {
    content: '';
    width: 150px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-input-container {
    position: relative;
}

.dropdown-container svg path {
    fill: white;
}

.dropdown-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.dropdown-arrow_rotate {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    transform: rotate(180deg);
}

/* LIGHTBOX */
#lightbox-modal {
    background-color: rgba(196, 196, 196, 0.9);
}

.lightbox-modal__content {
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    height: 30%;
    width: 100%;
    top: 0;
    cursor: pointer;
    z-index: 1;
}
.close:hover {
    opacity: 0.8;
}

.close img {
    position: relative;
    top: 30px;
    left: 85%;
}

.previous,
.next {
    position: absolute;
    height: 70%;
    width: 50vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.previous:hover,
.next:hover {
    opacity: 0.8;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

.lightbox-media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    z-index: 1;
}

.lightbox-media img,
.lightbox-media video {
    width: auto;
    max-height: 400px;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.current-image-title {
    position: absolute;
    bottom: 10%;
    left: 40%;
}

/* CONTACT MODAL */
#contact_modal {
    background-color: rgba(196, 196, 196, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.close-button {
    align-self: flex-start;
}
.close-button:hover {
    opacity: 0.8;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.contact-header {
    display: flex;
}

.contact-header__title {
    display: flex;
    flex-direction: column;
}

.modal header h2 {
    margin: 0;
}

.contact-photographer {
    margin-top: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.inputform-containter {
    width: 100%;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.input-field,
.message-area {
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
}

#message {
    height: 170px;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 10px;
    border: none;
    resize: none;
}

.submission-message {
    display: inline-block;
    margin-top: 100px;
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

.home-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901c1c;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.api-error {
    margin: 100px 50px 0 50px;
    font-size: 2.5rem;
    text-align: center;
}

.photographer_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 140px;
    margin-top: 100px;
}

.photographer-page-header {
    display: flex;
    align-items: center;
    height: 90px;
}

.photograph-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    margin: 0 100px;
    padding: 70px 50px;
}

.photograph-header h1 {
    color: #d3573c;
    font-size: 3rem;
    margin-bottom: 5px;
}

.photograph-header__location {
    color: #901c1c;
    font-size: 1.6rem;
    margin-top: 10px;
}

.photograph-header__motto {
    margin-top: 5px;
    color: #525252;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer-info {
    display: flex;
    flex-direction: row-reverse;
}

.photographer-info img {
    width: 100px;
    height: 100px;
}

.total-likes-pricing {
    width: 376px;
    height: 89px;
    position: fixed;
    bottom: 0;
    right: 35px;
    background-color: #db8876;
}

.media-sorting {
    margin: 25px 0 70px 100px;
}

.photographer-medias {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#contact_modal,
#lightbox-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 2;
}

/*# sourceMappingURL=main.css.map */
