@use "../utils/variables";

.home-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.home-header h1 {
    color: variables.$primary-color;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.api-error p {
    margin: 100px 50px 0 50px;
    font-size: 2.5rem;
    text-align: center;
}

.photographer_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 140px;
    margin-top: 100px;
}

// Responsive mode
@media all and (max-width: 760px) {

    // Header section
    .home-header {
        justify-content: space-around;
    }
    .home-header h1 {
        margin-right: 0;
        margin-bottom: 0;
    }
    .home-header .logo {
        margin-left: 0;
        margin-top: 15px;
    }

    // Photographers section
    .photographer_section {
        gap: 50px;
    }

}