@use "../utils/variables";

// Header section

.photographer-page-header {
    display: flex;
    align-items: center;
    height: 90px;
}

// Header banner section

.photograph-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    margin: 0 100px;
    padding: 70px 50px;
}

.photograph-header h1 {
    color: variables.$secondary-color;
    font-size: 3rem;
    margin-bottom: 5px;
}

.photograph-header__location {
    color: variables.$primary-color;
    font-size: 1.6rem;
    margin-top: 10px;
}

.photograph-header__motto {
    margin-top: 5px;
    color: #525252;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer-info {
    display: flex;
    flex-direction: row-reverse;
}

.photographer-info img {
    width: 100px;
    height: 100px;
}

.total-likes-pricing {
    width: 376px;
    height: 89px;
    position: fixed;
    bottom: 0;
    right: 35px;
    background-color: #DB8876;
}

// Media sorting section

.media-sorting {
    margin: 25px 0 70px 100px;
}


// Media gallery section

.photographer-medias {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}

// Modal rules 

#contact_modal, #lightbox-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 2;
}