@use "../utils/variables";

// Header section

.photograph-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    margin: 0 100px;
    padding: 70px 50px;
}

.photograph-header h1 {
    color: variables.$secondary-color;
    font-size: 3rem;
    margin-bottom: 5px;
}

.photograph-header__location {
    color: variables.$primary-color;
    font-size: 1.6rem;
    margin-top: 10px;
}

.photograph-header__motto {
    margin-top: 5px;
    color: #525252;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: variables.$primary-color;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-info {
    display: flex;
    flex-direction: row-reverse;
}

.photographer-info img {
    width: 100px;
    height: 100px;
}

.total-likes-pricing {
    width: 376px;
    height: 89px;
    position: fixed;
    bottom: 0;
    right: 35px;
    background-color: #DB8876;
}

// Media gallery section

.photographer-medias {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}

// Modal section

#contact_modal, #lightbox-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4)
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.inputform-containter {
    width: 100%;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.label-text {
    color: #312E2E;
    font-size: 36px;
}

.input-field, .message-area {
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.submission-message {
    display: inline-block;
    margin-top: 100px;
}

// Error messages

.error-message {
    font-size: 1.2rem;
    color: white;
}

// Lightbox

.lightbox-media img, .lightbox-media video {
    width: 200px;
}