@use "../utils/variables";

/* PHOTOGRAPHER PAGE */

// Header section

.photographer-page-header {
    display: flex;
    align-items: center;
    height: 90px;
}

// Header banner section

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    margin: 70px 100px 0 100px;
    padding: 70px 50px;
}

.photograph-header h1 {
    color: variables.$secondary-color;
    font-size: 3rem;
    margin-bottom: 5px;
}

.photograph-header__location {
    color: variables.$primary-color;
    font-size: 1.6rem;
    margin-top: 10px;
}

.photograph-header__motto {
    margin-top: 5px;
    color: #525252;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25)
}

.photographer-info {
    display: flex;
    flex-direction: row-reverse;
}

.total-likes-pricing {
    width: 376px;
    height: 89px;
    position: fixed;
    bottom: 0;
    right: 35px;
    background-color: #DB8876;
}

// Media sorting section

.media-sorting {
    margin: 25px 0 70px 100px;
}

// Media gallery section

.photographer-medias {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}

// Modal rules 

#contact_modal, #lightbox-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 2;
}

// Responsive mode

@media all and (max-width: 1125px) {

    // Header banner
    .photograph-header {
        flex-wrap: wrap;
        margin: 35px 50px 0 50px;
    }

    .contact-button {
        order: 1;
        margin-top: 42px;
        flex-basis: 100%;
    }
}

@media all and (max-width: 845px) {

    // Header banner
    .photograph-header {
        margin: 0;
    }
}

@media all and (max-width: 735px) {

    // Header banner
    .photograph-header {
        padding: 35px 25px;
    }
    .photographer-info {
        flex-basis: 210px;
    }
    .photographer-info h1 {
        margin-top: 0;
        font-size: 2.2rem;
    }
    .photograph-header__location {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    .photographer-profile-picture {
        width: 100px;
        height: 100px;
        align-self:flex-start;
    }
    .photograph-header img {
        width: 100px;
        height: 100px;
    }
    .total-likes-pricing {
        position: initial;
        width: 735px;
        height: 60px;
        margin-top: 40px;
    }

    // Contact form
    .modal {
        margin: 0;
    }
}